<h1> Nucleus </h1>
<hr>
<br>
<br>
<br>
<div class="card">
	<img src="https://bio.libretexts.org/@api/deki/files/18906/f-d%253A21eb08bf8f5237a7e8c8ff22c216876df4b5a080b8ee01c25f922c0e_IMAGE_TINY_IMAGE_TINY.1?revision=1" width="250px" height="250px"/>
		
		<h1>Cell Membrane</h1>
		<h3>LAYER</h3>

		<hr>

		<p class="description">The Nucleus Is A Common Component In Every Cell.. And It is one of the most important Cell Component Of All Time Because It Controls the whole cell and it is like the brain of the cell. Also The Nucleus is Very Detectable Because It is Very Big And It is Located Mostly In The Middle Of The Cell.     </p>
		<div class="row">
		<a style="margin-right: 10px" href="{% url 'home' %}"> <--Back</a>
		<a href="https://www.genome.gov/genetics-glossary/Nucleus#:~:text=A%20nucleus%20is%20a%20membrane,and%20out%20of%20the%20nucleus.">Learn More</a>	


	</div>
	</div>
<br>
<br>
<style>
	body {
		background: #32322C;
		color: #39A0ED;
		font-family: sans-serif;
		overflow-x:hidden;
	}
	.card {
		background: #13C4A3;
		color: #32322C;
		font-family: sans-serif;
		width: 600px;
		height: 600px;
		border-radius: 10px;
		text-align: center;
		transition-duration: 1000ms;
		margin: auto;
	}
	
	
	.description {
		color:#32322C;
		}
	
	.Title {
		text-align: center;
	}	
</style>

